<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Acerca de Clasic Cars</h6>
        <p class="text-justify"><i>CLASICS CARS </i> Es una pagina que promueve el gusto por los coches clasicos. Demasiados clasicos se han quedado en el olvido y peor aun, las nuevas generaciones desconocen por completo que existen bellos y hermoso clasicos. Es por eso que esta pagina tiene el gusto de compartir un poco de la historia de estos coches, para generar el gusto nuevamente.  </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>MARCAS REGISTRADAS</h6>
        <ul class="footer-links">
          <li><a href="https://www.ford.mx/?searchid=alwaysonsearch:brand|awa|google|brand-2022|rsa|20220210&gclid=Cj0KCQjwn9CgBhDjARIsAD15h0CQll3-z7GVVE_tHhkp3V3vwe6UT05Jurf0FkctX1ZmkCQmr6gfMCwaAnpLEALw_wcB">FORD</a></li>
          <li><a href="https://www.chevrolet.com.mx">CHEVROLET</a></li>
          <li><a href="https://www.dodge.com/mx/?utm_source=google-&utm_medium=paid-search&utm_campaign=marca-brand-marca-NACIONAL-T1&utm_term=performance-text-ad-cpc&utm_content=brand-&dclid=&gclid=Cj0KCQjwn9CgBhDjARIsAD15h0CiDJqMRA8MJScYtoln8HhZWGnytdZjMoDBMPi5MMJLhrjLR_RnCP4aAotxEALw_wcB">DODGE</a></li>
          <li><a href="https://www.mycertifiedservice.com/locate-schedule-service">PONTIAC</a></li>
          <li><a href="https://www.chrysler.com/mx/">CHRYSLER</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>INFORMACION</h6>
        <ul class="footer-links">
          <li><a href="#">CORREO:</a></li>
          <li><a href="#">clasics_cars_1990@utags.edu.mx</a></li>
          <li><a href="http://scanfcode.com/contact/">TELEFONO:</a></li>
          <li><a href="#">449 456 41 98</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">FACEBOOK:</a></li>
          <li><a href="#">@clasics cars_oficial</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">DIRECCION:</a></li>
          <li><a href="#">venustiano carranza #215 A Aguascalientes, Ags, Mexico.</a></li>
          <br>
          <br>

          <li><a href="http://scanfcode.com/privacy-policy/">ALUMNOS:</a></li>
          <li><a href="#">JOSE ARTURO MENDOZA.</a></li>
          <li><a href="#">NANCY KARINA CALVILLO LIMON.</a></li>
          <li><a href="#">OSWALDO YAHIR GONZALEZ ROMAN.</a></li>
          <li><a href="#">ANA IRIS MASCORRO IBARRA.</a></li>
          <li><a href="#">MONICA ISABEL PEDROZA SERNA.</a></li>

        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 Todos Los Derechos Reservados Por
          <a href="#">clasics_cars_1990</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="account_circle"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
