<header>
  <h1>Registrate ahora</h1>
</header>

<div>
  <form class="form-group">
    <div class="form-group col-md-3">
      <input type="email" name="email" placeholder="ingresa email" class="form-control">
    </div>

    <div class="form-group col-md-3">
      <input type="password" name="password" placeholder="ingresa password" class="form-control">
    </div>




  </form>
  <a href="https://st.depositphotos.com/1003593/4241/i/950/depositphotos_42411667-stock-photo-gracias-blue-marker.jpg">
    <button class="Button">:Enviar:</button>
  </a>
</div>
